body
{
	margin: auto;
	padding:0;
	width: 100%;
	height: 100%;
	font-family: sans-serif;
	background: #2B3D6B;
}

.felulet
{
	margin: 100px auto;
}

.navbar
{
	width:100%;
}

.trNev
{
	text-align: center;
	font-size: 30px;
	color:white;
}

td
{
	width:50%;
	text-align: right;
}

button
{
	background-color: #4CAF50;
	border: none;
	color: white;
	text-decoration: none;
	font-size: 30px;
	cursor: pointer;
	border-radius: 5px;
}

.nyitBtn
{
	background-color: gray;
	border: none;
	color: white;
	text-decoration: none;
	font-size: 30px;
	cursor: pointer;
	border-radius: 5px;
}

a, a:link, a:visited{
	color: white;
	text-decoration: none;
}