body
{
	margin:0;
	padding:0;
	width: 100%;
	height: 100%;
	font-family: sans-serif;
	background: #2B3D6B;
}
.navbar
{
	width:100%;
}
.trNev
{
	text-align: center;
	font-size: 30px;
	color:white;
}
td
{
	width:50%;
	text-align: right;
}
button
{
  background-color: #4CAF50;
  border: none;
  color: white;
  text-decoration: none;
  font-size: 30px;
  cursor: pointer;
  border-radius: 5px;
}
a, a:link, a:visited{
  color: white;
  text-decoration: none;
}
.testimonials
{
	width: 80%;
	margin: 150px auto 100px;
	display: grid;
	grid-template-columns: repeat( auto-fit, minmax(350px, 1fr));
	grid-gap: 20px;
}
.testimonials .card
{
	position: relative;
	width: 350px;
	margin: 0 auto;
	background: #2B3D6B;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
	box-shadow: 0 10px 40px rgba(0,0,0,.5);
	overflow: hidden;
	border-radius: 20px;
}
.testimonials .card .layer
{
	position: absolute;
	top: calc(100%);
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(#03a9f4, #e91ee3);
	z-index: 1;
	transition: 0.5s;
}
.testimonials .card:hover .layer
{
	top: 0;
}
.testimonials .card .content
{
	position: relative;
	z-index: 2;
}
.testimonials .card .content .image
{
  border-radius: 40px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  font-size: 50px;
  color: white;
}
.testimonials .card .content .details h2
{
	font-size: 18px;
}
.testimonials .card .content .details h2 span
{
	font-size: 14px;
	transition: 0.5s;
}