body
{
	width: 100%;
	background: #2B3D6B;
}
.navbar
{
	width:99.9%;
}
td
{
	text-align: right;
}
.visszaGomb
{
	text-align: right;
	  background-color: blue;
  border: none;
  color: white;
  text-decoration: none;
  font-size: 30px;
  cursor: pointer;
  border-radius: 5px;
}
button
{

}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}
.row
{
	margin:0 auto;
	width: 90%;
	padding: 15px;
	border-style: solid;
	border-color: white;
}
.col-lg-2
{
	text-align: center;
	border-style: none;
	padding: 5px;
}
.form-control
{
	margin:0 auto;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 90%;
	text-align: center;
}